body {
    height: 100%;
    width: 100%;
}

.gameWindow {
    height: 300px;
    width: 308px;
    border: 1px solid black;
    margin: auto;
    margin-top: 300px;

}

.buttonStyle{
    height: 99px;
    width: 99px;
}
